{% extends 'base.html' %}

{% block body %}


<div class="row justify-content-center">
    <div class="col-md-6 col-lg-5">
        <div class="card shadow-sm">
            <div class="card-body">
                <h4 class="card-title text-center mb-4">Registro</h4>

                <form method="POST" action="{{ url_for('users.register') }}">

                    <input type="hidden" name="csrf_token" value="{{csrf_token()}}">

                    <div class="mb-3">
                        <label for="identification" class="form-label">Identification</label>
                        <input type="text" class="form-control" id="identification" name="identification" value="{{ identification | default('') }}" required>
                    </div>

                    <div class="mb-3">
                        <label for="first_name" class="form-label">First Name</label>
                        <input type="text" class="form-control" id="first_name" name="first_name" value="{{ first_name | default('') }}" required>
                    </div>

                    <div class="mb-3">
                        <label for="last_name" class="form-label">Last Name</label>
                        <input type="text" class="form-control" id="last_name" name="last_name" value="{{ last_name | default('') }}" required>
                    </div>

                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" name="email" value="{{ email | default('') }}" required>
                    </div>

                    <div class="mb-3">
                        <label for="password" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" id="password" name="password" value="{{ email | default('') }}" required>
                    </div>

                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">
                            Registrarse
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}